// Brand Book Color
$black = #000
$white = #fff
$blue = #2c7bc4
$primary = #00008b

// Width
$screen-sm = 640px
$screen-md = 768px
$screen-lg = 1024px
$screen-xl = 1280px
$screen-2xl = 1536px

// Sizes
$size-xs = 4px
$size-sm = ($size-xs * 2)
$size-md = ($size-xs * 3)
$size-lg = ($size-xs * 4)
$size-xl = ($size-xs * 6)
$size-xxl = ($size-xs * 8)

// Animation Time
$time = .25s

// Shadow
$shadow = rgba(0, 0, 0, .1)
